<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnePlusGod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>986B14FB2059BCF900F4E7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>986B150F2059BCF900F4E7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>986B151A2059BCF900F4E7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
